body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: .5;

}

.top-header {
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.781)), url(../images/cover\ pic.png);
    padding: 150px 200px;
}


.top-header p {
    width: 40%;
}

.link-button {
    background-color: #EF233C;
    color: white;
    padding: 7px 18px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

}

.lives-depend {
    padding: 160px 0;
}

.container {
    display: flex;
    padding: 0px 200px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 80%;
    height: 100%;
    margin: 0px 100px;
    margin-top: -20px;

}



.suvive .half-width img {
    display: inline-block;
    align-items: left;
    margin: -15px 0px;
    width: 90%;
    height: 100%;
}

.suvive .h-w {
    text-align: left;
    margin-left: 100px;


}


.donation {
    padding: 80px 0;
}

.dh1,
.Hand-area {

    text-align: center;
}

.row {
    display: flex;
    margin: 50px 200px;


}

.row-item-1 {
    width: 30%;
    display: flex;
    margin-left: 130px;
}

.extend-hand,
.Hand {

    display: flex;
    justify-content: center;

}

.extend-hand img,
.image3 {
    margin: 10px 10px;
    width: 30%;
    width: cover;
}

.image3 img {
    width: 100%;
}

.image3 a {
    color: #EF233C;
    font-weight: 700;
}

.Hand-area {
    padding: 100px 0;
}

footer {

    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding: 40px 0;
}

footer h2 {
    font-family: 'Lobster', cursive;
    font-weight: 500;
}